<div id="alert" data-role="view" data-show="app.onAlertViewShow" data-model="app.alertView">
    <div class="tile-column">
        <div class="tile stop-alert" data-bind="events: { click: stopAlertClick }">
            <div>
                <img src="img/stopPreAlert.png" />
            </div>
            <div>
                Stop Alert
            </div>
        </div>
    </div>
    <div class="tile-column">
        <div class="tile rescues">
            <div>
                <img src="img/home_rescues.png" />
            </div>
            <div>
                Rescues
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="tile aggression" data-bind="events: { click: aggressionThreatClick }">
        <div data-bind="text: AlertTimeout"></div>
        <div>
            Aggression & Threat
        </div>
    </div>
    <div class="tile safe-places">
        <div>
            <img src="img/PAT_safeplaces.png" />
        </div>
        <div>
            Safe Places
        </div>
    </div>
</div>