<div id="home" data-role="view" data-transition="slide:right">
    <div class="tile-column">
        <a href="#views/preAlert.html">
            <div class="tile pre-alert">
                <div>
                    <img src="img/home_pre_alert.png" />
                </div>
                <div>
                    Pre-Alert
                </div>
            </div>
        </a>
        <div class="tile rescues">
            <div>
                <img src="img/home_rescues.png" />
            </div>
            <div>
                Rescues
            </div>
        </div>
    </div>
    <div class="tile-column">
        <a href="#views/alert.html?type=fire">
            <div class="tile fire">
                <div>
                    <img src="img/home_fire.png" />
                </div>
                <div>
                    Fire
                </div>
            </div>
        </a>
        <a href="#views/alert.html?type=emergency">
            <div class="tile emergency">
                <div>
                    <img src="img/home_medical.png" />
                </div>
                <div>
                    Emergency
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix"></div>
    <a href="#views/alert.html?type=aggression">
        <div class="tile aggression">
            <div>
                <img src="img/home_aggression.png" />
            </div>
            <div>
                Aggression
            </div>
        </div>
    </a>
</div>
