<div id="home" data-role="view" data-transition="slide:right">
    <div class="left-column75">
        <div class="pre-alert-tile">
            <div class="pre-alert-image">
                <img src="img/home_pre_alert.png" />
            </div>
            <div class="pre-alert-text">
                Pre-Alert
            </div>
        </div>
        <div class="rescues-tile">
            <div class="rescues-image">
                <img src="img/home_rescues.png" />
            </div>
            <div class="rescues-text">
                Rescues
            </div>
        </div>
    </div>
    <div class="right-column75">
        <div class="fire-tile">
            <div class="fire-image">
                <a href="#views/alert.html?type=fire"><img src="img/home_fire.png" /></a>
            </div>
            <div class="fire-text">
                <a href="#views/alert.html?type=fire">Fire</a>
            </div>
        </div>
        <div class="emergency-tile">
            <div class="emergency-image">
                <a href="#views/alert.html?type=emergency"><img src="img/home_medical.png" /></a>
            </div>
            <div class="emergency-text">
                <a href="#views/alert.html?type=emergency">Emergency</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="aggression-tile">
        <div class="aggression-image">
            <a href="#views/alert.html?type=aggression"><img src="img/home_aggression.png" /></a>
        </div>
        <div class="aggression-text">
            <a href="#views/alert.html?type=aggression">Aggression</a>
        </div>
    </div>
</div>
