<div id="preAlert" data-role="view" data-show="app.onPreAlertViewShow" data-hide="app.onPreAlertViewHide" data-model="app.preAlertView">
    <div class="countdown">
        <div class="countdown-icon-row">
            <div class="rescue-icon">
                <img src="img/preAlert_rescues.png" />
            </div>
            <div class="stop-alert-icon" data-bind="events: { click: stopAlertClick }">
                <img src="img/preAlert_stopPreAlert.png" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="countdown-timer">
            <div class="timer-wrapper" data-bind="text: AlertTimeout, events: { click: resetAlert }"></div>
            <div class="timer-labels-row">
                <div class="minutes">mns</div>
                <div class="seconds">secs</div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="countdown-minutes">
            <div>
                Select
            </div>
            <div class="timer-minutes">
                <div data-bind="events: { click: showTimer1Minute }">1</div>
                <div data-bind="events: { click: showTimer2Minutes }">2</div>
                <div data-bind="events: { click: showTimer3Minutes }">3</div>
            </div>
            <div class="clearfix"></div>
            <div>
                Countdown
            </div>
        </div>
    </div>
    <div class="tile-column">
        <div class="tile aggression" data-bind="events: { click: preAlertAggressionClick }">
            <div>
                Pre-Alert
            </div>
            <div>
                <img src="img/home_pre_alert.png" />
            </div>
            <div>
                Aggression
            </div>
        </div>
        <div class="tile aggression" data-bind="events: { click: immediateAlertAggression }">
            <div>
                <img src="img/home_aggression.png" />
            </div>
        </div>
    </div>
    <div class="tile-column">
        <div class="tile emergency" data-bind="events: { click: preAlertMedicalClick }">
            <div>
                Pre-Alert
            </div>
            <div>
                <img src="img/home_pre_alert.png" />
            </div>
            <div>
                Medical
            </div>
        </div>
        <div class="tile emergency" data-bind="events: { click: immediateAlertMedical }">
            <div>
                <img src="img/home_medical.png" />
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>