<div id="rescues" data-role="view" data-show="app.onRescuesViewShow" data-model="app.rescuesView">
    <div class="tile-column">
        <div class="tile rescues">
            <div>
                <img src="img/home_rescues.png" />
            </div>
            <div>
                Rescues
            </div>
        </div>
    </div>
    <div class="tile-column">
        <div class="tile person">
            <div>
                <img src="img/maleUser.png" />
            </div>
            <div>
                Name
            </div>
        </div>
        <div class="tile person lighter">
            <div>
                <img src="img/femaleUser.png" />
            </div>
            <div>
                Name
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>