.km-widget.km-view#alert .tile-column {
    height: 40%;
}
.km-widget.km-view#alert .tile.rescues, 
.km-widget.km-view#alert .tile.stop-alert {
    height: 100%;
}
.km-widget.km-view#alert .tile.aggression, 
.km-widget.km-view#alert .tile.safe-places {
    height: 30%;
}
