.km-widget.km-view#camera .tile-column {
    height: 100%;
}
.km-widget.km-view#camera .tile {
    height: 50%;
}
.km-widget.km-view#camera .tile > div {
    padding: 20px 0 20px 0;
}
.km-widget.km-view#camera .preview {
    text-align: center;
}
.km-widget.km-view#camera .preview > img {
    width: 100%;
}
.km-widget.km-view#camera .preview > button {
    position: absolute;
    bottom: 2px;
}