.km-android .km-view:not(.km-splitview) {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.km-content {
    overflow: hidden;
    position: relative;
    height: 65%;
    width: 100%;
}
.km-header .km-navbar {
    height: 40%;
}
.km-header .km-tabstrip {
    height: 60%;
}
.km-scroll-container {
    height: 100%;
    width: 100%;
    position: absolute;
}



#header {
    height: 15%;
    border-bottom: 1px solid rgba(180, 180, 180, 0.498039);
}

#footer {
    height: 20%;
}

#header > div, #footer > div, .km-scroll-container {
    background-color: #ccc;
}


#gps-location-info {
    border-top: 1px solid rgba(180, 180, 180, 0.498039);
    text-align: center;
    font-size: 0.7em;
    height: 65%;
    width: 100%;
    display: table;
}

.table-cell-middle {
    display: table-cell;
    vertical-align: middle;
}

#header-camera-icon, #header-flashlight-icon,
#footer-home-icon, #footer-helper-icon, #footer-arrow-icon, #footer-stethoscope-icon {
    border-right: 1px solid rgba(180, 180, 180, 0.498039);
}

header-#flashlight-icon, #header-eye-icon,
#footer-helper-icon, #footer-arrow-icon, #footer-stethoscope-icon, #footer-location-icon {
    border-left: 1px solid rgba(180, 180, 180, 0.498039);
}

#footer-tabstrip {
    height: 35%;
}

    #header-tabstrip .km-custom, #footer-tabstrip .km-custom {
        -webkit-background-clip: initial;
        -moz-background-clip: initial;
        background-clip: initial;
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
        width: 100%;
        height: 100%;
    }

#header-drawer-icon .km-custom:after,
#header-drawer-icon .km-custom:before {
    content: "\e077";
}

#header-camera-icon .km-custom {
    background-image: url('../img/camera.png');
}

#header-flashlight-icon .km-custom {
    background-image: url('../img/tourch.png');
}

#header-eye-icon .km-custom {
    background-image: url('../img/Passeye.png');
}

#footer-home-icon .km-custom {
    background-image: url('../img/home_normal.png');
}

#footer-helper-icon .km-custom {
    background-image: url('../img/helper.png');
}

#footer-arrow-icon .km-custom {
    background-image: url('../img/arrow_normal.png');
}

#footer-stethoscope-icon .km-custom {
    background-image: url('../img/stethoscope_normal.png');
}

#footer-location-icon .km-custom {
    background-image: url('../img/location_normal.png');
}
