.km-android .km-view:not(.km-splitview) {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.km-content {
    overflow: hidden;
    position: relative;
    height: 65%;
    width: 100%;
}

.km-header .km-navbar {
    height: 40%;
}

.km-header .km-tabstrip {
    height: 60%;
}

.km-scroll-container {
    height: 100%;
    width: 100%;
    position: absolute;
}



#header {
    height: 15%;
    border-bottom: 1px solid rgba(180, 180, 180, 0.498039);
}

#footer {
    height: 20%;
}

    #header > div, #footer > div, .km-scroll-container {
        background-color: #ccc;
    }


#gps-location-info {
    border-top: 1px solid rgba(180, 180, 180, 0.498039);
    text-align: center;
    font-size: 0.7em;
    height: 65%;
    width: 100%;
    display: table;
}

.table-cell-middle {
    display: table-cell;
    vertical-align: middle;
}

#header-camera-icon, #header-flashlight-icon,
#footer-home-icon, #footer-helper-icon, #footer-arrow-icon, #footer-stethoscope-icon {
    border-right: 1px solid rgba(180, 180, 180, 0.498039);
}

header-#flashlight-icon, #header-eye-icon,
#footer-helper-icon, #footer-arrow-icon, #footer-stethoscope-icon, #footer-location-icon {
    border-left: 1px solid rgba(180, 180, 180, 0.498039);
}

#footer-tabstrip {
    height: 35%;
}

    #header-tabstrip .km-custom, #footer-tabstrip .km-custom {
        background-repeat: no-repeat;
        text-align: center;
        width: 100%;
        height: 100%;
    }

#header-drawer-icon {
    font-size: 0.7em;
}

    #header-drawer-icon .km-custom:after,
    #header-drawer-icon .km-custom:before {
        content: "\e077";
    }

#header-camera-icon .km-custom:after,
#header-camera-icon .km-custom:before {
    content: "\e0d0";
}

#header-flashlight-icon .km-custom:after,
#header-flashlight-icon .km-custom:before {
    content: "\e0b5";
}

#header-eye-icon .km-custom:after,
#header-eye-icon .km-custom:before {
    content: "\e09b";
}

#footer-home-icon .km-custom:after,
#footer-home-icon .km-custom:before {
    content: "\e0dd";
}

#footer-helper-icon .km-custom:after,
#footer-helper-icon .km-custom:before {
    content: "\e0e4";
}

#footer-arrow-icon .km-custom:after,
#footer-arrow-icon .km-custom:before {
    content: "\e016";
}

#footer-stethoscope-icon .km-custom:after,
#footer-stethoscope-icon .km-custom:before {
    content: "\e043";
}

#footer-location-icon .km-custom:after,
#footer-location-icon .km-custom:before {
    content: "\e0db";
}
