* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'Helvetica_Condensed';
    src: url('../fonts/helvetica-67-medium-condensed.ttf');
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */

    font-family: 'Helvetica_Condensed' !important;
    text-transform: uppercase;
    font-size: 2em;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.km-android .km-view:not(.km-splitview) {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.clearfix {
    clear: both;
}

#header {
    height: 15%;
    border-bottom: 1px solid rgba(180, 180, 180, 0.498039);
}

.km-content {
    overflow: hidden;
    position: relative;
    height: 65%;
    width: 100%;
}

#footer {
    height: 20%;
}

.km-header .km-navbar {
    height: 40%;
}

.km-header .km-tabstrip {
    height: 60%;
}

#header > div, #footer > div, .km-scroll-container {
    background-color: #ccc;
}

.km-scroll-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

    .km-scroll-container > div > div {
        vertical-align: middle;
        text-align: center;
    }

#home-left-column, #home-right-column {
    float: left;
    height: 75%;
    width: 50%;
}

#aggression {
    height: 25%;
    width: 100%;
    background-color: #FF6347;
}

#pre-alert {
    height: 60%;
    background-color: #FFA500;
}

#fire {
    height: 25%;
    background-color: #FFD700;
}

#rescues {
    height: 40%;
    background-color: #4169E1;
}

#emergency {
    height: 75%;
    background-color: #90EE90;
}

#gps-location-info {
    border-top: 1px solid rgba(180, 180, 180, 0.498039);
    text-align: center;
    height: 65%;
}

#header-camera-icon, #header-flashlight-icon,
#footer-home-icon, #footer-helper-icon, #footer-arrow-icon, #footer-stethoscope-icon {
    border-right: 1px solid rgba(180, 180, 180, 0.498039);
}

header-#flashlight-icon, #header-eye-icon,
#footer-helper-icon, #footer-arrow-icon, #footer-stethoscope-icon, #footer-location-icon {
    border-left: 1px solid rgba(180, 180, 180, 0.498039);
}

#footer-tabstrip {
    height: 35%;
}

    #header-tabstrip .km-custom, #footer-tabstrip .km-custom {
        background-repeat: no-repeat;
        text-align: center;
        width: 100%;
    }
    
#header-drawer-icon .km-custom:after,
#header-drawer-icon .km-custom:before {
    content: "\e077";
}

#header-camera-icon .km-custom {
    background-image: url('../img/camera.png');
}

#header-flashlight-icon .km-custom {
    background-image: url('../img/tourch.png');
}

#header-eye-icon .km-custom {
    background-image: url('../img/Passeye.png');
}

#footer-home-icon .km-custom {
    background-image: url('../img/home_normal.png');
}

#footer-helper-icon .km-custom {
    background-image: url('../img/helper.png');
}

#footer-arrow-icon .km-custom {
    background-image: url('../img/arrow_normal.png');
}

#footer-stethoscope-icon .km-custom {
    background-image: url('../img/stethoscope_normal.png');
}

#footer-location-icon .km-custom {
    background-image: url('../img/location_normal.png');
}
