.km-widget.km-view#preAlert {
    position: relative;
    overflow: hidden;
}

    .km-widget.km-view#preAlert .tile-column {
        height: 100%;
    }

    .km-widget.km-view#preAlert .tile {
        height: 50%;
    }

        .km-widget.km-view#preAlert .tile > div {
            position: static;
        }

        .km-widget.km-view#preAlert .tile.emergency:first-of-type,
        .km-widget.km-view#preAlert .tile.aggression:first-of-type {
            opacity: 0.6;
        }

    .km-widget.km-view#preAlert .countdown {
        background-color: #6BAD6B;
        position: absolute;
        width: 100%;
        height: 50%;
        top: -50%;
        z-index: -1;
        -moz-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        transition: 1s;
    }

        .km-widget.km-view#preAlert .countdown.countdown-slide {
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            top: 0;
            z-index: 1;
        }

        .km-widget.km-view#preAlert .countdown div.countdown-icon-row {
            height: 15%;
        }

        .km-widget.km-view#preAlert .countdown div.countdown-minutes {
            height: 85%;
        }

        .km-widget.km-view#preAlert .countdown .countdown-minutes > div:first-child,
        .km-widget.km-view#preAlert .countdown .countdown-minutes > div:nth-child(4) {
            height: 15%;
        }

        .km-widget.km-view#preAlert .countdown .countdown-minutes > div:nth-child(2) {
            height: 70%;
        }

    .km-widget.km-view#preAlert .countdown-minutes,
    .km-widget.km-view#preAlert .timer-labels-row {
        text-align: center;
        text-transform: uppercase;
    }

    .km-widget.km-view#preAlert .rescue-icon,
    .km-widget.km-view#preAlert .stop-alert-icon {
        position: absolute;
        float: left;
    }

        .km-widget.km-view#preAlert .rescue-icon img,
        .km-widget.km-view#preAlert .stop-alert-icon img {
            height: 100%;
        }

    .km-widget.km-view#preAlert .rescue-icon {
        left: 10%;
    }

    .km-widget.km-view#preAlert .stop-alert-icon {
        right: 10%;
    }

    .km-widget.km-view#preAlert .timer-minutes > div {
        width: 25%;
        height: 100%;
        background-color: #fff;
        color: #000;
        font-size: 3em;
        float: left;
        margin: 0 4%;
    }

    .km-widget.km-view#preAlert .timer-minutes {
        height: 100%;
    }

    .km-widget.km-view#preAlert .countdown-timer {
        background-color: #ccc;
        position: absolute;
        width: 100%;
        height: 85%;
        left: -100%;
        top: 15%;
        border: 1px solid #000;
        border-radius: 5%;
        z-index: -1;
        -moz-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        transition: 1s;
    }

        .km-widget.km-view#preAlert .countdown-timer .timer-wrapper {
            background-color: #000;
            color: #f00;
            font-size: 3em;
            text-align: center;
            height: 85%;
            padding: 5%;
        }

        .km-widget.km-view#preAlert .countdown-timer.countdown-slide {
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            left: 0;
            z-index: 1;
        }

    .km-widget.km-view#preAlert .timer-labels-row {
        height: 15%;
    }

        .km-widget.km-view#preAlert .timer-labels-row div {
            position: relative;
            float: left;
        }
        
        .km-widget.km-view#preAlert .timer-labels-row .minutes {
            left: 30%;
        }

        .km-widget.km-view#preAlert .timer-labels-row .seconds {
            left: 40%;
        }
